/*--------------------------------------------------------------
# Tailwind
--------------------------------------------------------------*/
/* purgecss start ignore */
@import "tailwindcss/base";

.font-400 {
  font-weight: normal;
}

.font-500 {
  font-weight: 500;
}

.font-600 {
  font-weight: 600;
}

.font-700 {
  font-weight: bold;
}

.font-XXS {
/* Text XXS */
font-family: Inter;
font-style: normal;
font-size: 10px;
line-height: 16px;
}

.font-XS {
/* Text XS */
font-family: Inter;
font-style: normal;
font-size: 12px;
line-height: 16px;
}

.font-S {
  /* Text S */
  font-family: Inter;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
}

.font-M {
  /* Text M */
  font-family: Inter;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
}

.font-L {
  /* Text L */
  font-family: Inter;
  font-style: normal;
  font-size: 18px;
  line-height: 30px;
}

.font-heading-XS {
  /* Text heading XS */
  font-family: Inter;
  font-style: normal;
  font-size: 22px;
  line-height: 32px;
}

.font-heading-S {
  /* Text heading S */
  font-family: Inter;
  font-style: normal;
  font-size: 24px;
  line-height: 34px;
}

.font-heading-M {
  /* Text heading M */
  font-family: Inter;
  font-style: normal;
  font-size: 28px;
  line-height: 42px;
}

.font-heading-L {
  /* Text heading L */
  font-family: Inter;
  font-style: normal;
  font-size: 36px;
  line-height: 47px;
}

.font-heading-XL {
  /* Text heading XL */
  font-family: Inter;
  font-style: normal;
  font-size: 55px;
  line-height: 68px;
}

@import "tailwindcss/components";
@import "tailwindcss/utilities";
/* purgecss end ignore */